<% unless @user.valid? %>
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @user do |form| %>
  <%= form.label :username, 'Username:' %>
  <%= form.text_field :username, placeholder: 'jsmith' %>
  <br>
  <%= form.label :email, 'Email:' %>
  <%= form.text_field :email, placeholder: 'example@example.com' %>
  <br>
  <%= form.label :password, 'Password:' %>
  <%= form.password_field :password, placeholder: 'password' %>
  <br>
  <%= form.submit 'Submit' %>
<% end %>
